body {
    padding: 30px;
  }
  header {
    background: lightblue;
    grid-area: header;
  }
  section {
    background: lightgreen;
    grid-area: section;
  }
  article {
    background: white;
    margin: 1rem 0 1rem 0;
  }
 body main aside {
    background: pink;
    grid-area: aside;
  }
  header, article, section, .module {
    padding: 1rem;
  }

  main {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "section section section aside";
  }
  