body {
    padding: 0px;
    margin: 0px
  }
  header {
    background: lightblue;
    align-self: flex-start;
    flex-basis: 100%;
  }
  section {
    align-self: flex-start;
    background: lightgreen;
    flex-basis: 75%;
  }
  article {

    background: white;
    margin: 1rem 1rem;
  }
  aside {
    background: pink;
    flex-basis: 25%;
  }
  header, article, section, .module {
    padding: 1rem; 
  }
  body main section{
      padding: 0;
  }
  main {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;

  }

  